@import "../../Styles/Vars/Vars.module";
@import "../../Styles/Mixin/Mixin.module";

.nav-user {
  position: relative;
  height: 100%;
  border-left: .1rem solid $nav-border;
  @include transition(.3s border-left);
  padding: 2.4rem 3.2rem;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-user-initials {
  color: #fff;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.6rem;
  background: linear-gradient(133.87deg, #4D0AC7 -10.18%, #912EF2 108.59%);
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.nav-user-name {
  white-space: nowrap;
}

.nav-user-logout {
  position: absolute;
  margin-top: 2rem;
  padding: 2.4rem 3.2rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: $secondary-bg;
  box-shadow: $main-box-shadow;
  cursor: pointer;
  white-space: nowrap;
  display: none;

  &.show {
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    left: 50%;
    background-color: $secondary-bg;
    transform: rotate(45deg);
  }
}