$active-color: #6C1BDB;
$active-text-color: #fff;

$main-text-color: #313037;

$main-bg: #e5e5e5;
$secondary-bg: #fff;

$nav-border: #f3f3f3;

$btn-secondary-bg: rgba(49, 48, 55, 0.1);
$btn-disabled-text-color: rgba(49, 48, 55, 0.5);
$text-light: rgba(49, 48, 55, 0.5);
$registration-light-text: #8D8E97;