@import "../../Styles/Vars/Vars.module";
@import "../../Styles/Mixin/Mixin.module";

.primary {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border: 0;
  background-color: $active-color;
  border-radius: .4rem;
  color: $active-text-color;
  padding: 1.6rem 2rem;
  @include transition(.3s background-color, .3s color);
}

.secondary {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border: 0;
  background-color: $btn-secondary-bg;
  @include transition(.3s background-color);
  border-radius: .4rem;
  padding: 1.6rem 2rem;
}

.disabled {
  cursor: default;
  background-color: $btn-secondary-bg;
  color: $btn-disabled-text-color;
  @include transition(.3s background-color, .3s color);
  pointer-events: none;
}