* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: $main-text-color;
}

input, textarea, a, button {
  outline: none;
}

h1 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 8rem;
  margin: 0 0 4rem;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: $main-bg;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 122rem;
  padding: 7.2rem 5rem;
  width: 100%;
  flex-grow: 1;
}