@import "../../Styles/Vars/Vars.module";
@import "../../Styles/Mixin/Mixin.module";

.news-post-img-container {
  width: 100%;
  padding-bottom: 46%;
  margin-bottom: 4.8rem;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
}

.news-post-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-post-text-container {
  max-width: 92rem;
  margin: 0 auto;

  p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

.news-post-empty {
  font-weight: 600;
  font-size: 5.6rem;
  line-height: 8rem;
  color: $error-color;
}