@import "../../Styles/Vars/Vars.module";
@import "../../Styles/Mixin/Mixin.module";

.theme-switcher {
  width: 3.2rem;
  height: 2rem;
  display: block;
  background-color: $theme-switcher-bg;
  @include transition(.3s background-color);
  border-radius: 1rem;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $active-color;
  }
}

.theme-switcher-check {
  display: none;

  &:checked {

    & + .theme-switcher-indicator {
      left: 1.4rem;
    }
  }
}

.theme-switcher-indicator {
  width: 1.6rem;
  height: 1.6rem;
  background-color: $active-text-color;
  border-radius: 50%;
  position: absolute;
  top: .2rem;
  left: .2rem;
  @include transition(left .3s);
}