@import "Styles/Normalize/Normalize.module";
@import "Styles/Fonts/Fonts.module";
@import "Styles/Vars/Vars.module";
@import "Styles/Mixin/Mixin.module";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: $main-text-color;
  @include transition(.3s color);
}

input, textarea, a, button {
  outline: none;
}

a {
  color: $active-color;
  text-decoration: none;
  position: relative;

  &:before, &:after {
    content: "";
    background-color: $active-color;
    width: 0;
    height: .1rem;
    position: absolute;
    top: 100%;
    @include transition(.3s width);
  }

  &:before {
    right: 50%;
  }

  &:after {
    left: 50%;
  }

  &:hover {

    &:before, &:after {
      width: 50%;
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 8rem;
  margin: 0 0 4rem;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: $main-text-color;
  background-color: $main-bg;
  @include transition(.3s background-color, .3s color);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 122rem;
  padding: 7.2rem 5rem 0;
  width: 100%;
  flex-grow: 1;
}
